
<div class="filter-section">
  <label>Category:</label>
  <select [formControl]="selectedCategory">
    <option value="">All Categories</option>
    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    <option [value]="'Electronics'">Electronics</option>
  </select>

  <label >Location:</label>
  <select [formControl]="selectedLocation">
    <option value="">All Locations</option>
    <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
  </select>

<!--  <button (click)="filterAnnounces()">Filter</button>-->
</div>

<div class="announce-list">
  <div *ngFor="let announce of announces" class="announce-card">
    <a [routerLink]="['/announcePage', announce.id]">
      {{ announce.title }}
    </a>
    <p><strong>Category:</strong> {{ announce.category }}</p>
    <p><strong>Location:</strong> {{ announce.location }}</p>
    <p><strong>Description:</strong> {{ announce.description }}</p>
  </div>
</div>

<div class="pagination">
  <button (click)="changePage(-1)" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="changePage(1)" [disabled]="currentPage === totalPages">Next</button>
</div>

<app-footer/>
